{% extends "loginSignup/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Potentia</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
        <a href="{% url 'post:My_Trans' %}"><button>My Transactions</button></a>
        <a href="{% url 'post:Add_Trans' %}"><button>Add a New Transaction</button></a>
        <a href="{% url 'post:Open_Trans' %}"><button>View Open Transactions</button></a>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>
{% endblock %}