<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Transactions</title>
</head>
<body>
<h5><a href="{% url 'index' %}">Go Back</a> </h5>
<h1>These Are All The Transactions You Have Made</h1>
<h4>Note: The Current Conversion Rate Is: 1 Flare = {{ rate }} Potentia </h4>
<h4>Also, 1 Flare = 1 KWH of Energy</h4>
<h3>You Have {{ PotentiaWallet }} Potentia</h3>
<br><br><br><br>
<br>
<br>
<br>
{% for tra in all_trans %}
    <p>To: {{ tra.tosenduser }}</p>
    <p>Amount: {{ tra.amount }}</p>
    <p>Cost: {{ tra.cost }}</p>
    <p>Creation TX: {{ tra.sent_creation_tx }}</p>
    <p>Transfer TX: {{ tra.sent_transfer_tx }}</p>
<br><br><br><br><br>
{% endfor %}
</body>
</html>